:root{
  --maincolor:rgb(63, 58, 100) ;
  --seccolor:rgb(32, 173, 150) ;
  --gray:rgba(105, 105, 105, 0.5);
  --white: #FFF;
  --mainfont:'Cairo', sans-serif;
  --br: 2px solid red;
  --br2: 2px solid blue;
  --trans: 0.5s ease-in-out
}
/* ████████████████ nav style ████████████████ */
@media(max-width:1200px){
  nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  }
  nav .container{
    width: 100%;
    min-width: 768px;
    align-items: center;
    height: inherit;
    border: var(--br);


  }
  .nav-menu{
    display: none;
    position: absolute;
    background: rgba(63, 58, 100, 0.9);
    
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 300px;
  }
  .nav-menu::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .nav-menu a{
    color: white;
    width: fit-content;
    display: block; 
    padding-right: 40px;
  }
  .closemenu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background: var(--white);
    height: 80px;
    margin-bottom: 55px;
  }
  
  .closemenu img{
    height: 40%;
  }
  .closemenu i{
    color: var(--maincolor);
    font-size: 24px;
    cursor: pointer;
    transition: var(--trans) color;
  }
  .closemenu i:hover{
    color: var(--seccolor);
  }
  .navbar{
    display: block;
    text-align: right;
    height: 80px;
    line-height: 65px;
    font-size: 24px;
  }
  .navbar i{
    cursor: pointer;
    color: var(--seccolor);
  }
}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
@media(maxwidth:1200px){}
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */
/* ████████████████ header style ████████████████ */

